In [36]:
#task 1
#write a function to find moving average in array over a window of size 3

def moving_average(a,k):
    n=len(a)
    l=[]
    for i in range(0,n-k+1,1):
        summ=0
        for j in range(0,k):
            summ=summ+a[i+j]
        l.append(summ/3)
    return l  
    
def main():
    k=3
    l=[3,5,7,2,8,10,11,65,72,81,99,100,150]
    result=moving_average(l,k)
    print(result)
    
if __name__=='__main__':main()

[5.0, 4.666666666666667, 5.666666666666667, 6.666666666666667, 9.666666666666666, 28.666666666666668, 49.333333333333336, 72.66666666666667, 84.0, 93.33333333333333, 116.33333333333333]

In [37]:
#How-to-count-distance-to-the-previous-zero
#For each value, count the difference back to the previous zero (or the start of the Series,
#whichever is closer

import pandas as pd
df = pd.DataFrame({'X':[7,2,0,3,4,2,5,0,3,4]})
X_flat = df.index[df['X']].tolist()
prev_zero = [(X_flat[i::-1]+[0]).index(0) for i in range(len(X_flat))]
df['Y'] = prev_zero
print(df)

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

In [38]:
#Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of
#random numbers.

import pandas as pd
import numpy.random as np
index = pd.date_range('2015-01-01', '2015-12-31',freq='B')
data=np.randint(500,1500,len(index))
s = pd.Series(data, index=index)
print(s)

2015-01-01    1001
2015-01-02    1375
2015-01-05     918
2015-01-06    1145
2015-01-07    1084
2015-01-08    1416
2015-01-09    1128
2015-01-12     610
2015-01-13    1076
2015-01-14    1047
2015-01-15     541
2015-01-16    1433
2015-01-19     845
2015-01-20     801
2015-01-21    1309
2015-01-22    1145
2015-01-23    1369
2015-01-26     526
2015-01-27    1390
2015-01-28     930
2015-01-29     806
2015-01-30     607
2015-02-02     787
2015-02-03     630
2015-02-04     758
2015-02-05     799
2015-02-06    1057
2015-02-09    1279
2015-02-10    1301
2015-02-11    1049
              ...
2015-11-20    1028
2015-11-23    1049
2015-11-24     715
2015-11-25     793
2015-11-26     954
2015-11-27    1275
2015-11-30    1113
2015-12-01    1297
2015-12-02    1058
2015-12-03    1003
2015-12-04    1232
2015-12-07     794
2015-12-08    1122
2015-12-09     906
2015-12-10    1293
2015-12-11     852
2015-12-14     978
2015-12-15    1274
2015-12-16     795
2015-12-17     601
2015-12-18    1462
2015-12-21     723
2015-12-22     689
2015-12-23    1062
2015-12-24     740
2015-12-25     976
2015-12-28    1184
2015-12-29    1271
2015-12-30    1403
2015-12-31     517
Freq: B, Length: 261, dtype: int32

In [39]:
#Find the sum of the values in s for every Wednesday

s.groupby(s.index.weekday_name).sum().Wednesday

54681

In [41]:
#Average For each calendar month

s.groupby(s.index.month).mean()

1     1022.818182
2      992.100000
3     1041.772727
4     1017.090909
5     1022.761905
6     1059.136364
7     1041.217391
8     1115.904762
9     1130.409091
10    1016.363636
11    1008.333333
12    1010.086957
dtype: float64

In [42]:
#For each group of four consecutive calendar months in s, find the date on which the highest
#value occurred.

con_4=s.groupby(pd.TimeGrouper('4M')).max()
con_4=pd.Series(con_4[0:3].index)
print(con_4)

0   2015-01-31
1   2015-05-31
2   2015-09-30
dtype: datetime64[ns]

C:\Users\SONY\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: pd.TimeGrouper is deprecated and will be removed; Please use pd.Grouper(freq=...)
  after removing the cwd from sys.path.